
.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-item {
    width: 100%;
}

.cart-total {
    width: 100%;
    border-top: 1px solid #ccc;
    color: cornflowerblue;
    font-weight: bold;
}
.cart-item-name {
    float: left;
    padding-left: .5rem;
  }

  .cart-item-price {
    float: right;
    padding-right: .5rem;
  }