
.nav-header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #261263;
    box-shadow: 0 0 10px rgba(42, 10, 101, 0.1);
    color: white;
    margin-bottom: 1rem;
}

.nav-footer {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #261263;
    box-shadow: 0 0 10px rgba(42, 10, 101, 0.1);
    color: white;
    margin-top: 5rem;
}